.invitation {
    padding: 4rem 0 3rem 0;
    max-width: 60ch;
    margin: auto;
}

h2 {
    margin-bottom: 1rem;
}

h3 {
    margin: 1rem 0;
}

.dress-colors {
    display: flex;
    justify-content: center;
    gap: .4rem;
    margin: 1rem 0 3rem 0;
}

.dress-color {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    &--yellow {
        background-color: #f8ff9d;
    }
    &--cream {
        background-color: #fff1e2;
    }
    &--lime {
        background-color: #f2ffe9;
    }
    &--blue {
        background-color: #b8dff5;
    }
    &--red {
        background-color: #ffcdcd;
    }
}

.apply-button {
    padding: .6rem 3rem;
    color: white;
    background-color: dimgray;
    border: none;
    transition: .1s;
    cursor: pointer;
    &:hover {
        padding: .65rem 3rem .55rem 3rem;
    }
}