<article class="invitation">
  <h2 class="handwrited">Дорогой гость!</h2>
  <p>
    Мы рады сообщить Вам, что 08.07.2023 состоится самое главное торжество в
    нашей жизни - день нашей свадьбы!
    <br />
    Приглашаем Вас разделить с нами радость этого незабываемого дня.
  </p>
  <h3 class="handwrited">
    Ждем Вас! <br />
    Ваши Дмитрий и Елена
  </h3>
  <p>
    Мы будем рады видеть джентльменов в костюмах и рубашках, 
    <br>
    дам - в прекрасных
    нарядах следующей палитры
  </p>
  <ul class="dress-colors">
    <li class="dress-color dress-color--yellow"></li>
    <li class="dress-color dress-color--cream"></li>
    <li class="dress-color dress-color--lime"></li>
    <li class="dress-color dress-color--blue"></li>
    <li class="dress-color dress-color--red"></li>
  </ul>
  <button class="apply-button" (click)="showModal()">Подтвердить</button>
</article>
