<article class="invitation">
  <h2 class="handwrited">Дорогой гость!</h2>
  <p>
    Мы рады сообщить Вам, что 08.07.2023 состоится самое главное торжество в
    нашей жизни - день нашей свадьбы!
    <br />
    Приглашаем Вас разделить с нами радость этого незабываемого дня.
  </p>
  <h3 class="handwrited">Ждем Вас!</h3>
  <p>
    08.07.2023 в 17:00 Парк-отель Каньон
    <br />
    П. Водопадный, ул. Лесная 5. Поляна
  </p>
  <h3 class="handwrited names-header">Ваши Дмитрий и Елена</h3>
  <p>
    Будем благодарны, если при выборе нарядов на наше торжество вы придержитесь
    следующей палитры
  </p>
  <ul class="dress-colors">
    <li class="dress-color dress-color--yellow"></li>
    <li class="dress-color dress-color--cream"></li>
    <li class="dress-color dress-color--lime"></li>
    <li class="dress-color dress-color--blue"></li>
    <li class="dress-color dress-color--red"></li>
  </ul>
  <button class="apply-button" (click)="showModal()">Подтвердить</button>
</article>
