<article class="schedule">
  <h2 class="handwrited">Свадебное расписание</h2>
  <br>
  <ul>
    <li class="schedule-item">
      <hr />
      <span class="handwrited">Сбор гостей</span>
      <p class="handwrited schedule-item__date">17:00, 08.07.2023</p>
      <p>П. Водопадный, ул. Лесная 5. Поляна</p>
      <br>
    </li>
    <li class="schedule-item">
      <hr />
      <br>
      <span class="handwrited badge">Банкет</span>
      <p class="handwrited schedule-item__date">17:30, 08.07.2023</p>
      <p>Беседка "Островок" - Парк-отель Каньон</p>
      <br>
      <hr />
    </li>
  </ul>
  <p class="handwrited message">
    Приглашаем Вас разделить вместе с нами радость создания новой семьи!
  </p>
</article>
