<article class="schedule">
  <h2 class="handwrited">Свадебное расписание</h2>
  <br />
  <ul>
    <li class="schedule-item">
      <hr />
      <span class="handwrited">Сбор гостей по адресу</span>
      <p>П. Водопадный, ул. Лесная 5</p>
      <p class="handwrited schedule-item__date">17:00, 08.07.2023</p>
      <p>Парк-отель Каньон, поляна около беседки "Островок"</p>
      <br />
    </li>
    <li class="schedule-item">
      <hr />
      <br />
      <span class="handwrited badge">Банкет</span>
      <p class="handwrited schedule-item__date">17:30</p>
      <p>Беседка "Островок"</p>
      <br />
      <hr />
    </li>
  </ul>
  <p class="handwrited message">
    Приглашаем Вас разделить вместе с нами радость создания новой семьи!
  </p>
  <p>
    <b
      >Если Вы потерялись - звоните по этому номеру и Вам подскажут: <br />
      Координатор Ирина <a href="tel:89614310227">89614310227</a>
    </b>
  </p>
  <p>
    Если Вы желаете поздравить нас по случаю праздника, мы будем благодарны
    денежным подаркам и обещаем найти им самое лучшее применение! 😘
  </p>
</article>
